$backgrondImageWidth: 1600;
$backgrondImageHeight: 900;

$backgroundUrl: 'https://source.unsplash.com/collection/590961/'+$backgrondImageWidth+'x'+$backgrondImageHeight;

$primaryColor: rgba(123,123,13,1);


$infoSectionBackground: rgb(3, 9, 92);
$infoSectionText: #dddddd;
$infoSectionAHover: #eeeeee;
$profilesBackground: #e0e0e0;
$profilesBorders: #dddddd;


$scrollContainerBorder: rgba(37, 37, 66, 0.3);
$scrollContainerBackground: rgba(37, 20, 90, 0.3);
$scrollContainerColor: rgb(104, 164, 182);

