$backgrondImageWidth: 1600;
$backgrondImageHeight: 900;

$backgroundUrl: 'https://source.unsplash.com/collection/590961/'+$backgrondImageWidth+'x'+$backgrondImageHeight;

$bodyBackground: linear-gradient(60deg, rgb(58, 55, 70) 0%, rgb(104, 158, 177) 40%, rgb(61, 58, 71) 100%);

$headersColor:rgb(221, 221, 221);
$descriptionsColor: rgb(205, 205, 205);
$linksColor: rgb(0, 205, 235);
$linksColorHover: rgb(0, 225, 255);
$headerColor: rgb(248, 248, 248);
$headerOnHoverColor: rgb(255, 255, 255);

$boxShadowItems: 0 0 5px 5px rgba(120, 120, 120, 0.493);
$boxItemBackgroundColor: rgba(0,0,0,0.35);

$profilesBackground: #e0e0e0;
$profilesBorders: #ddd;

$headerBackgroundColor: rgba(0, 0, 0, 0.3);
$headerHoverBackgroundColor: rgba(0, 0, 0, 0.7);
