@import "variables";
@import "./modules/box.module";

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  & > * {
    flex-basis: 100%;
    margin: 20px auto;
    display: block;
    width: 90%;
  }
  h1 {
    color: $headersColor;
    text-decoration: underline;
  }
  .paragraph {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 34px;
    color: $descriptionsColor;
    padding: 1em;
  }
}
