@import 'variables';
@import './modules/box.module';

.wrapper{
    display: grid;
    grid-row-gap: 40px;
    grid-template-areas: 
        't1 top t2'
        'm1 middle m2'
        'b1 bottom b2'
        'b21 bottom2 b22';
    grid-template-columns: auto 90% auto;
    @media screen and (max-width: 480px){
        grid-row-gap: 30px;
        grid-template-columns: 10px auto 10px;        
        h1{
            margin-bottom: 5px;
        }
    }
    *{
        margin: auto;
        display: block;
    }
    h1{
        color: $headersColor;
        grid-area: top;
        text-decoration: underline;
    }
    p{
        font-size: 20px;
        letter-spacing: 1px;
        line-height: 34px;
    }
    .header{
        color: $descriptionsColor;
        grid-area: middle;
        padding: 1em;
    }
    .content{
        color: $descriptionsColor;
        grid-area: bottom;
        padding: 1em;
    }
    .work{
        color: $descriptionsColor;
        grid-area: bottom2;
        padding: 1em;
    }
}