@import 'variables';
.wrapper{
    height: 100vh;
    display: grid;

    grid-template-areas: 
        't1 top t2'
        'm1 middle m2'
        'b1 bottom b2';
    grid-template-columns: 3em auto 3em;
    *{
        margin: auto;
        display: block;
    }
    h1{
        color: $coverLetterTitleColor;
        grid-area: top;
        text-decoration: underline;
    }
    .header{
        color: $coverLetterHeaderColor;
        grid-area: middle;
        background: rgba(100,100,100,.5);
        padding: 1em;
        border-radius: 10px;
    }
    .content{
        color: $coverLetterContentColor;
        grid-area: bottom;
        background: rgba(100,100,100,.5);
        padding: 1em;
        border-radius: 10px;
    }
}