@import 'variables';

.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    height: 100vh;
    .container{
        display: inline-block;
        h1{
            letter-spacing: 2px;
            color: rgb(209, 186, 143);
        }
        ul{
            list-style: none;
            padding: 0;
            li{
                margin: 2rem 1rem;
                padding: 0.75rem;
                background: rgba(123,123,123,0.7);
                strong{
                    font-size: 18px;
                    a{
                        margin: auto 0.5rem;
                    }
                }
            }
        }
    }
}