@import 'variables';
.wrapper{
    color: $infoSectionText;
    text-align: center;
    vertical-align: middle;
    height: 100%;
    display: grid;
    grid-template-areas: 
        'top top top'
        'midleft middle miright'
        'bottom bottom bottom';
    background-color: rgba(1,1,1,0.5);

}