@import 'variables';
@import './modules/box.module';

.wrapper{
    color: $headersColor;
    text-align: center;
    vertical-align: middle;
    height: 100%;
    display: grid;
    grid-template-areas: 
        'top top top'
        'midleft middle miright'
        'bottom bottom bottom';
    background-color: rgba(1,1,1,0.5);
    .middle{
        grid-column: 2;
        grid-row: 2;
        vertical-align: middle;
        margin: auto;
        grid-area: middle;
    }
    h2{
        cursor: default;
    }
    a{
        color: $headersColor;
        font-weight: 600;
        display: block;
        svg{
            vertical-align: middle;
            margin-right: 5px;
        }
        &:hover{
            color: $headerOnHoverColor;
        }
    }
    .bottom{
        grid-column: 2;
        grid-row: 3;
        grid-area: bottom;
        ul{
            list-style: none;
            display: inline-block;
            li{
                display: inline-block;
                max-width: 8rem;
                margin: 1.5rem 1rem;
                text-align: center; 
                background-color: $profilesBackground;
                border: 3px solid $profilesBorders;
                border-radius: 10px;
                box-shadow: 0px 0px 3px 3px $profilesBorders;
                transition: 0.4s;
                a{
                    padding: 0.25rem;
                    max-width: 8rem;
                    display: block;
                    img{
                        display: block;
                        margin: auto;
                        width: 2.5rem;
                        height: 2.5rem;
                    }
                }
                &:hover{
                    transform: translateY(-.75rem) scale(1.25);
                    box-shadow: 0px 0px 1px 1px $profilesBorders;
                }
            }
        }
    }
}