@import 'variables';
.scroll-buttons-container{
    opacity: 1;
}
.scroll-up-container,.scroll-down-container{
    transform: translateX(-50%);
    transform: translateY(-100%);
    text-align: center;
    color: $scrollContainerColor;
    opacity: 0;
    transition-duration: 350ms;
    height: 0em;
    cursor: pointer;
    
    &:before{
        position: absolute;
        width: 100vw;
        height: 10vh;
        content: " ";
        left: 0vw;
    }
    div{
        background-color: $scrollContainerBackground;
        padding: 0.5rem 0.75rem 1rem 0.75rem;
        border: 1px solid $scrollContainerBorder;
        border-radius: 10px;
        margin: auto;
        width: fit-content;
        transition-duration: 350ms;
        transition-property: all;
        visibility: hidden;
    }
    p{
        margin: auto;
        font-size: 1.1rem;
        text-transform: lowercase;
    }

    .scrollIcon{
        transform: scale(2);
        display: block;
        margin: 0.5rem auto auto auto;
    }
}
.scroll-down-container{
    bottom: 0;
    //transform: translateX(-25%);
    &:before{
        bottom: 0;
    }
    &:hover, &.shown{
        height: 12vh;
        opacity: 1;
        div{
            visibility: visible;
        }        
    }
}

.scroll-up-container{
    opacity: 1;
    height: 0;
    transform: translateX(-50%);
    top:0;
    left: 50%;
    transition-duration: 350ms;
    &:before{
        top: -100vh;
        width: 200vw;
        left: 0;
    }
    &:hover, &.shown{
        &:before{
            top:0;
            left:-50vw;
        }
        position: absolute;
        height: 12vh;
        opacity: 1;
        div{
            visibility: visible;
        }
    }
}