@import 'variables';
.scroll-buttons-container{
    transform: translateX(-50%);
    transform: translateY(-100%);
    text-align: center;
    
    color: $scrollContainerColor;
    opacity: 0;
    transition-duration: 350ms;
    height: 0;
    cursor: pointer;
    
    &:before{
        position: absolute;
        width: 100vw;
        height: 5em;
        content: " ";
        bottom: 0;
        left: 0vw;
        transition-delay: 500ms;
        transition-duration: 500ms;
        //background: red;
    }
    div{
        background-color: $scrollContainerBackground;
        padding: 0.5rem 0.75rem 1rem 0.75rem;
        border: 1px solid $scrollContainerBorder;
        border-radius: 10px;
        margin: auto;
        width: fit-content;
        display: none;
    }
    p{
        margin: auto;
        font-size: 1.1rem;
        text-transform: lowercase;
    }

    .scrollDownIcon{
        transform: scale(2);
        display: block;
        margin: 0.5rem auto auto auto;
    }

    &:hover{
        height: 5em;
        opacity: 1;
        div{
            display: block;
        }
        &:before{
            //height: 4em;
         //   bottom: -30vh;
            //height: 35vh;
        }
    }
}