@import 'variables';
body{
	background-color: $knowledgeSectionBackgroundColor;
	background: $knowledgeSectionBackground;
	background-repeat: no-repeat;
}
.container{
	width: 100%;
	min-height: 100vh;
	text-align: center;
	vertical-align: middle;
	
	&#personal_section{
		background-image: url($backgroundUrl);
		height: 100vh;
	}
	&#cover_letter_section{
	}
	&#knowledge_section{
	}
	&#education_section{
	}
	&#others_section{
	}
	@media (min-height: $backgrondImageHeight+'px') {
		background-size: auto 100%;
		background-image: none;
	}
}
